<!DOCTYPE html>
<html lang="en">
<link href="../static/gradient_background.css" rel="stylesheet" type="text/css">
<head>
    <meta charset="UTF-8">
    <title> Patent Search </title>
</head>
<body>

<h1> Reverse Image Search for Patents! </h1>

<p> Please enter as many or as few details in the form below. Please be aware that the search functionality currently only works for patents filed through the USPTO. </p>

<form action="#" method="POST">
    <p><b> Patent Title: </b><input type = "text" name = "title" /></p>
    <p><b> Patent Author: </b><input type = "text" name = "author" /></p>
    <p><b> Application Status: </b><input type = "text" name = "status" /></p>
    <p><input type = "submit" value = "Submit" /></p>
</form>

</body>
</html>
