<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="../static/gradient_background.css">
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<!-- <body bgcolor="#8a2be2" text="white"> -->
<body>
<h1> Reverse Image Search for Patents! </h1>

<p> Welcome! As you can see, here we're building a tool that helps you perform reverse image search for patents. </p>

<hr>

<h3>Upload new File</h3>
<form method=post enctype=multipart/form-data>
    <input type=file name=file>
    <input type=submit value=Upload>
</form>

</body>
</html>